{% extends 'basis/base.html' %}
{% block title %}Countries{% endblock %}
{% block content %}
<h2>Categories</h2>
<div class="container">
    <div class="box">
        <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ category.title }}
                <span class="badge badge-primary badge-pill"><a href="{% url 'basis:category_pois' category.id %}">{{ category.point_of_interest.all.count }}</a></span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
