{% extends 'basis/base.html' %}
{% load widget_tweaks %}
{% block title %}Editing Country{% endblock %}
{% block content %}
<h2>
    {% if country %}
        {{ country.name }}
    {% else %}
        New Country
    {% endif %}
</h2>
<div class="container">
    <div class="box">
        <form action="{% url 'basis:edit_country' country.id %}" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="col text-center">
                    <label for={{ field.name }}>{{ field.label }}:</label>
                    {% render_field field style="border-radius: 5px;" placeholder=field.initial %}
                </div>
            </div>
            {% endfor %}
            <div class="col text-center">
                <button type="submit" class="btn btn-sm btn-success">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
